body {
    background: black;
}

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#content {
    border: 3px solid darkgrey;
    background: lightgray;
}

#mapid {
    height: 100vh;
}
