export MYSQL_ROOT_PASSWORD="Masterkey123"
export QUARKUS_DATASOURCE_JDBC_URL="jdbc:mysql://localhost:3336/telemo-db"
export QUARKUS_DATASOURCE_DB_KIND="mysql"
export QUARKUS_DATASOURCE_USERNAME="root"
export QUARKUS_DATASOURCE_PASSWORD="Masterkey123"
export QUARKUS_DATASOURCE_JDBC_MIN_SIZE=2
export QUARKUS_DATASOURCE_JDBC_INITIAL_SIZE=2
export QUARKUS_DATASOURCE_JDBC_MAX_SIZE=20
export QUARKUS_DATASOURCE_JDBC_ACQUISITION_TIMOUT=5
export QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION="update"
export GATLING_BASE_URL="https://telemo.id42.cc"
